@import 'core';


.header_content{
    @include size(100%, 824px);
    background-color: rgba(14, 14, 14, 1);
    padding-top: 15px;

    &>.header_navbar{
        max-width: 100%;
        padding: 0 40px 0 40px;
        max-height: max-content;
        @include flex(space-between);
        margin: 0 auto;
        color: #fff;


        &>.nav_left_path{

            &>h1{
                @include font(20px, 30px, 500);
                cursor: pointer;
                list-style-type: none;
            }
        }


        &>.nav_right_path{
            @include flex(space-between);
            width: 39%;

            &>li{
                @include font(16px, 26px, 500);
                cursor: pointer;
                
            }
            
            &>li a{
                @include font(16px, 26px, 500);
                cursor: pointer;
                color: #fff
            }

            &>.right_path_logos{
                @include flex(space-between);
                width: 60px;
                padding-top: 5px;
                gap: 10px;

                &>a img{
                    width: 30px;
                }
            }
        }
    }

    &>.slider {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-evenly;
        margin-top: 7%;
    
        &>.slider-button {
            @include bg-img(url('../images/arrow.png'), center);
            @include size(50px, 50px);
            cursor: pointer;
            padding-top: 25%;
    
            &.prev-button, .next-button {
                transform: rotate(270deg);
                cursor: pointer;
            }
    
            &.next-button {
                transform: rotate(90deg);
            }
        }
    
        &>.slider_content{
            display: flex;
            gap: 1%;
            width: 80%;

            &>.slide {
                flex: 1;
                transition: opacity 0.3s ease-in-out;
                transition: all .5s ease-in-out;
            
                &>img {
                    max-width: 100%;
                }
        
                &.slide-left {
                    opacity: 0.3;
                    max-width: 23%;
                    padding-top: 8%;
                }
        
                &.slide-center {
                    max-width: 50%;
                }
        
                &.slide-right {
                    opacity: 0.3;
                    padding-top: 8%;
                    max-width: 23%;
                }
            }  
        }

    }
}

.main_content{
    @include size(100%, 100%);
    margin-top: 10%;

    &>.main_about_college{
        @include size(70%, max-content);
        margin: 0 auto;

        &>.top_info{
            height: max-content;

            &>h1{
                @include font(34px, 44px, 500);
                text-align: center;
            }
        }

        &>.bottom_info{
            @include flex();
            padding-top: 100px;

            &>.bottom_info_left{
                width: 453px;

                &>.bottom_info_line{
                    width: 100%;
                    height: 1px;
                    background-color: rgba(14, 14, 14, 1);
                }

                &>p{
                    @include font(20px, 30px, 400);
                    padding-top: 30px;
                }
            }

            &>.bottom_info_right{
                width: 755px;

                &>p{
                    @include font(17px, 27px, 400);
                    text-align: left;
                }

                &>button{
                    @include button();
                    margin-top: 50px;
                }
            }
        }
    }

    &>.main_news{
        @include size(70%, max-content);
        margin: 150px auto 0 auto;

        &>button{
            @include button();
            margin-top: 100px;
            margin-left: 43%;

            &>a{
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Inter', sans-serif;
                line-height: 26px;
                transition: all .3s ease;

                &:hover{
                    color: #0accee;
                }
            }
        }

        &>.main_news_title{
            text-align: center;
            @include font(48px, 58px, 500);
        }

        &>.main_all_news{
            padding-top: 80px;
            height: 31%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            &>.main_news_item{
                position: relative;

                &>img{
                    max-width: 95%;
                    border-radius: 2px
                }

                &>.news_date{
                    @include size(120px, 44px);
                    background-color: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    @include font(14px, 39px, 400);
                    border-radius: 2px;
                }

                &>.news_desc{
                    text-align: left;
                    @include font(20px, 30px, 500);
                    padding-top: 20px;
                    width: 415px;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer_content {
    position: relative;
    @include flex();
    padding: 90px 90px 0 90px;
    align-items: flex-start;

    &>.footer_contacts {

        &>.footer_contacts_title {
            @include font(34px, 44px, 500);
            color: #fff;
        }

        &>.footer_location {
            display: flex;
            gap: 5px;

            &>p {
                @include font(16px, 26px, 400);
                margin-top: 25px;
                color: #fff;
            }
        }

        &>.footer_feedback {
            margin-top: 70px;

            &>h2 {
                color: #fff;
                @include font(17px, 30px, 500);
            }

            &>a {
                color: #fff;
                @include font(17px, 30px, 500);
            }
        }

        &>.footer_messenger {
            margin-top: 70px;
            display: flex;
            gap: 20px;

            &>a img{
                width: 50px;
            }
        }

    }

    &>.footer_line {
        @include size(587px, 2px);
        background-color: rgba(32, 32, 32, 1);
        transform: rotate(-90deg);
        position: absolute;
        top: 295px;
        left: 300px;
    }

    &>.footer_info {
        @include flex();

        &>.footer_info_cont1 {
            @include size(1100px, 500px);

            &>.cont1_top_block {
                display: flex;
                gap: 220px;
            }

            &>.cont1_bottom_block{
                margin-top: 50px;
                @include flex(space-between);
                width: 100%;
                height: max-content;
            }
        }
    }
}

.cont1_title{
    @include font(24px, 34px, 500);
    color: #0accee;
}

.cont1_students_item{
    padding-left: 3px;

    &>a{
        @include font(16px, 26px, 500);
        color: #fff;
    }
}

//Выпадающие список в профиле учителя
.teacher_profile_faculty_droplist, .teacher_profile_course_droplist{
    @include flex();
    width: 200px;
}
////////////////////