{% load static %}


<footer class="footer">
    <div class="footer_content">
        <div class="footer_contacts">
            <h1 class="footer_contacts_title">Контакты</h1>
            <div class="footer_location">
                <img src="{% static 'src/images/location.svg' %}" alt="метка">
                <p>367000, Россия, Республика Дагестан, г. Махачкала,<br>ул. Дзержинского, 21</p>
            </div>
            <div class="footer_feedback">
                <h2 style="color: #fff">8 (722) 67-42-65</h2>
                <a href="mailto:collegedsu@mail.ru">collegedsu@mail.ru</a>
                <h2 style="color: #fff; margin-top: 20px">Created by:</h2>
                <h2 style="color: #fff; font-size: 16px; line-height: 20px;">Гасанбеков Абужапар</h2>
                <h2 style="color: #fff; font-size: 16px; line-height: 20px;">Ибрагимов Забит</h2>
                <h2 style="color: #fff; font-size: 16px; line-height: 20px;">Шафиев Саид</h2>
            </div>
            <div class="footer_messenger">
                <a class="footer_telegram" href="https://t.me/colledgedsu"><img id="footer_telegram" src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                <a class="footer_vk" href="https://vk.com/mediaclubcollegedgu"><img id="footer_vk" src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
            </div>
        </div>
        <div class="footer_line" id="footer_line"></div>
        <div class="footer_info">
            <div class="footer_info_cont1">
                <div class="cont1_top_block">
                    <ul class="cont1_students">
                        <h1 class="cont1_title">Студентам</h1>
                        {% if user.is_authenticated %}
                            <li class="cont1_students_item"><a href="{% url 'data:schedules' %}">Расписание</a></li>
                        {% else %}
                            <li class="cont1_students_item"><a href="https://raspisanie.dgu.ru/">Расписание</a></li>
                        {% endif %}
                        <li class="cont1_students_item"><a href="https://login.dnevnik.ru/login">Электронный журнал</a></li>
                        <li class="cont1_students_item">
                            {% if user.is_authenticated %}
                                <a href="{% url 'users:profile' user.id%}">
                                    Профиль
                                </a>
                            {% else %}
                                <a href="{% url 'users:login' %}">
                                    Профиль
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="cont1_applicants">
                        <h1 class="cont1_title">Абитуриентам</h1>
                        <li class="cont1_students_item"><a href="https://dgu.ru/Abitur/?id=15252">Прием 2023</a></li>
                    </ul>
                </div>
                <div class="cont1_bottom_block">
                    <ul class="cont1_education">
                        <h1 class="cont1_title">Образование</h1>
                        <li class="cont1_students_item"><a href="">Сессия</a></li>
                        <li class="cont1_students_item"><a href="">Полезные ссылки</a></li>
                    </ul>
                    <iframe class="main_map" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1459.488594269916!2d47.49721647124244!3d42.97875416425313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDU4JzQzLjUiTiA0N8KwMjknNTIuNyJF!5e0!3m2!1sru!2sru!4v1694902873032!5m2!1sru!2sru" width="700px" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>