@import 'core';

.teacher_profile_header {
    @include size(100%, 70px);
    background-color: #0e0e0e;
    padding-top: 15px;

    &>.header_navbar {
        max-width: 100%;
        padding: 0 40px 0 40px;
        max-height: max-content;
        @include flex(space-between);
        margin: 0 auto;
        color: #fff;


        &>.nav_left_path {

            &>h1 {
                @include font(20px, 30px, 500);
                cursor: pointer;
            }
        }


        &>.nav_right_path {
            @include flex(space-between);
            width: 39%;

            &>li a {
                @include font(16px, 26px, 500);
                cursor: pointer;
                transition: all .3s ease;
                color: #fff;

                &:hover {
                    color: #0accee;
                }

            }

            &>.right_path_logos {
                @include flex(space-between);
                width: 60px;
                padding-top: 5px;
                gap: 10px;

                &>a img {
                    width: 30px;
                }
            }
        }
    }
}

.teacher_container {
    @include size(60%, max-content);
    margin: 0 auto;
    margin-top: 5%;
    @include flex();
    align-items: start;

    &>.teacher_profile {
        width: fit-content;

        .input-file {
            position: relative;
            display: block;
            height: max-content;
            width: 250px;

            &>.edit {
                position: absolute;
                right: 3px;
                bottom: -10px;
                cursor: pointer;
            }

            &>input[type=file] {
                position: absolute;
                z-index: 1;
                opacity: 0;
                display: block;
                width: 0;
                height: 0;
            }

            &>img {
                @include size(230px, 100%);
                border: 3px solid black;
            }

        }


        &>.teacher_name {

            &>h1,
            h2,
            h3 {
                @include font(36px, 46px, 400);
            }

            &>h1 {
                margin-top: 10px;
            }
        }
    }

    &>.teacher_lectures {
        width: 70%;

        &>h1 {
            @include font(48px, 58px, 500);
            text-align: center;
            color: #0accee;
        }

        &>.teacher_line {
            @include size(100px, 2px);
            margin: 0 auto;
            margin-top: 10px;
            background-color: #0e0e0e;
        }

        &>h2 {
            @include font(75px, 70px, 400);
            text-align: center;
            margin-top: 30px;
        }

        &>.add_lecture_cont {
            display: flex;
            justify-content: center;
            align-items: center;

            &>.add_lecture {
                @include button();
                margin-top: 70px;
                width: 200px;
                margin-bottom: 50px;
                padding: 0;
                cursor: pointer;

                &>a {
                    @include font(16px, 50px, 500);
                    color: white;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    text-decoration: none;
                    transition: all .3s ease;

                    &:hover {
                        color: #0accee;
                    }
                }
            }
        }


        &>.all_lectures {
            width: 100%;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 20px;

            &>.obama {
                @include font(18px, 18px, 400);
            }

            &>.lecture {
                padding: 10px;
                height: max-content;
                background: var(--bg-popup-default, #FFF);
                border: 1px solid black;
                border-radius: 10px;
                position: relative;

                &>button {
                    background-color: #FFF;
                    border: none;
                    cursor: pointer;
                    font-size: 20px;
                    position: absolute;
                    right: 5px;
                    top: 0;
                }

                &>h1 {
                    @include font(24px, 16px, 500);
                }

                &>p {
                    margin-top: 2%;
                    @include font(16px, 24px, 400);

                    &>#podrobnee {
                        background-color: #000000;
                        color: #FFF;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        @include size(100px, 25px);
                        border-radius: 9px;
                    }

                    &>a {
                        color: #0accee;
                        @include font(14px, 14px, 400);
                    }
                }
            }
        }
    }
}


.teacher_profile_droplist {
    @include flex();
    width: 200px;
}

.important_link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    &>.important_link_list {
        width: 100%;
        position: relative;

        &>.btn_important_links {
            background-color: #17a2b8;
            color: #FFF;
            border: none;
            outline: none;
            @include size(100%, 40px);
            border-radius: 5px;
        }

        &>.drop_down_link_list {
            margin-top: 10px;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.5s ease-in-out;
            z-index: 1;
            position: absolute;
            width: 100%;
            margin-bottom: 0;
            background: var(--bg-popup-default, #FFF);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
            display: flex;
            flex-direction: column;

            &.active {
                transform: scaleY(1);
                transition: transform 0.5s ease-in-out;
                border-radius: 7px;
                height: 242px;
                overflow-y: scroll;

                //Стилизация скроллбара
                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(0, 0, 0);
                    border-radius: 20px;
                    border: 3px solid rgb(255, 255, 255);
                }
            }

            &>li {
                padding: 20px;
                border-bottom: 1px solid black;
                text-align: left;
                @include flex();

                &>a {
                    color: #0e0e0e;
                    @include font(18px, 18px, 400);
                    text-decoration: none;
                }

                &>.actions_with_links {
                    display: flex;
                    gap: 10px;


                    &>.dropdown_krestik,
                    .dropdown_edit {
                        cursor: pointer;
                    }
                }


            }
        }
    }

    &>.important_link_add {
        width: 100%;
        position: relative;


        &>.btn_add_link {
            background-color: #17a2b8;
            color: #FFF;
            border: none;
            outline: none;
            @include size(100%, 40px);
            border-radius: 5px;
        }

        &>.add_link {
            margin-top: 10px;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.5s ease-in-out;
            z-index: 1;
            position: absolute;
            width: 100%;
            margin-bottom: 0;
            background: var(--bg-popup-default, #FFF);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);

            &.active {
                transform: scaleY(1);
                transition: transform 0.5s ease-in-out;
                border-radius: 7px;
                height: max-content;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                padding: 10px;
            }

            &>input {
                border: none;
                outline: none;
            }

            &>.publish_link {
                background-color: #17a2b8;
                color: #FFF;
                border: none;
                outline: none;
                @include size(100%, 40px);
                border-radius: 5px;
            }
        }
    }
}



.important_link_teacher_profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    &>.important_link_list_teacher_profile {
        width: 100%;
        position: relative;

        &>.btn_important_links_teacher_profile {
            margin-top: 20px;
            background-color: #17a2b8;
            color: #FFF;
            border: none;
            outline: none;
            @include size(100%, 40px);
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

        &>.drop_down_link_list {
            margin-top: 10px;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.5s ease-in-out;
            z-index: 1;
            position: absolute;
            width: 100%;
            margin-bottom: 0;
            background: var(--bg-popup-default, #FFF);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
            display: flex;
            flex-direction: column;

            &.active {
                transform: scaleY(1);
                transition: transform 0.5s ease-in-out;
                border-radius: 7px;
                height: 242px;
                overflow-y: scroll;

                //Стилизация скроллбара
                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(0, 0, 0);
                    border-radius: 20px;
                    border: 3px solid rgb(255, 255, 255);
                }
            }

            &>li {
                padding: 20px;
                border-bottom: 1px solid black;
                text-align: left;
                @include flex();

                &>a {
                    color: #0e0e0e;
                    @include font(24px, 24px, 400);
                    text-decoration: none;
                }

                &>.actions_with_links {
                    display: flex;
                    gap: 10px;


                    &>.dropdown_krestik,
                    .dropdown_edit {
                        cursor: pointer;
                    }
                }


            }
        }
    }
}


.msg_teacher_cont {
    margin-bottom: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &>.btn_teacher_message {
        background-color: #17a2b8;
        color: #FFF;
        border: none;
        outline: none;
        @include size(100%, 40px);
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }

    &>.drop_down_msg_list {
        margin-top: 10px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease-in-out;
        z-index: 1;
        width: 100%;
        margin-bottom: 0;
        background: var(--bg-popup-default, #FFF);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;

        &.active {
            transform: scaleY(1);
            transition: transform 0.5s ease-in-out;
            border-radius: 7px;
            height: 242px;
            overflow-y: scroll;

            //Стилизация скроллбара
            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(0, 0, 0);
                border-radius: 20px;
                border: 3px solid rgb(255, 255, 255);
            }
        }

        &>li {
            padding: 20px;
            border-bottom: 1px solid black;
            text-align: left;
            @include flex();

            &>a {
                color: #0e0e0e;
                @include font(18px, 18px, 400);
                text-decoration: none;
            }
        }
    }

}

.msg_student_cont {
    position: absolute;
    top: 10px;
    left: 90%;
    width: 100%;
    display: flex;
    gap: 20px;

    &>.btn_message {
        background-color: transparent;
        border: none;
        outline: none;
        @include bg-img(url('../images/message.png'), center);
        @include size(48px, 48px);
    }

    &>.drop_down_msg_list_student {
        margin-top: 10px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease-in-out;
        z-index: 1;
        width: 500px;
        margin-bottom: 0;
        background: var(--bg-popup-default, #FFF);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;

        &.active {
            transform: scaleY(1);
            transition: transform 0.5s ease-in-out;
            border-radius: 7px;
            height: 242px;
            overflow-y: scroll;

            //Стилизация скроллбара
            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(0, 0, 0);
                border-radius: 20px;
                border: 3px solid rgb(255, 255, 255);
            }
        }

        &>li {
            padding: 20px;
            border-bottom: 1px solid black;
            text-align: left;
            display: flex;
            flex-direction: column;

            &>p {
                @include font(16px, 16px, 400);

                &>span {
                    font-weight: 600;
                }
            }
        }
    }
}