{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Преподаватели</title>

    <link rel="stylesheet" href="{% static 'src/css/app.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'src/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'src/css/reset.css' %}">
</head>
<body>
    <header class="teacher_profile_header">
            <div class="header_navbar" id="header_navbar">
                <div class="nav_left_path">
                    <h1><a style="color: #fff;" href="/">Колледж ДГУ</a></h1>
                    <div class="header_burger" id="header_burger"></div>
                </div>
                <ul style="width: 55%;" class="nav_right_path" id="nav_right_path">
                    <li><a href="/">Главная</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'users:teacher_profile' user.id %}">Для преподавателя</a></li>
                    {% endif %}
                    <li><a href="/news">Новости</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'users:schedules' %}">Расписание</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if not user.is_teacher %}
                            <li><a href="{% url 'users:blog' %}">Преподаватели</a></li>
                        {% endif %}
                        <li><a style="color: #fff;" href="{% url 'users:profile' user.id%}">Профиль</a></li>
                    {% else %}
                        <li><a style="color: #fff;" href="{% url 'users:login' %}">Вход</a></li>
                    {% endif %}
                    <li class="right_path_logos" id="right_path_logos">
                        <a href="https://t.me/colledgedsu"><img src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                        <a href="https://vk.com/mediaclubcollegedgu"><img src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
                    </li>
                </ul>
            </div>
    </header>

    <main>
       <ul style="margin-bottom: 50px;" class="all_teachers_container" id="all_teachers_container">
           {% for teacher in all_teachers %}
                <li>
                   <img src="{% if teacher.image %} {{ teacher.image.url }} {% else %} {% static 'src\images\default_avatar.jpg' %} {% endif %}" alt="">
                    <h1>{{ teacher.first_name }}  {{ teacher.last_name }}</h1>
                    <button><a href="{% url 'users:public_profile' teacher.id %}">Смотреть лекции</a></button>
                </li>
           {% endfor %}
       </ul>
    </main>

    <script type="module" src="{% static 'src/utils/teacher-ava.js' %}"></script>
    <script type="module" src="{% static 'src/scripts/index.js' %}"></script>
</body>
</html>