{% load static %}
{% load static recaptcha3 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Колледж ДГУ</title>

    <link rel="stylesheet" href="{% static 'src/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/reset.css' %}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(95129008, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95129008" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header class="header">
        <div class="header_content">
            <div class="header_navbar" id="header_navbar">
                <div class="nav_left_path">
                    <h1><a style="color: #fff;" href="/">Колледж ДГУ</a></h1>
                    <div class="header_burger" id="header_burger"></div>
                </div>
                <ul style="width: 55%;" class="nav_right_path" id="nav_right_path">
                    <li><a href="/">Главная</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'users:teacher_profile' user.id %}">Для преподавателя</a></li>
                    {% endif %}
                    <li><a href="https://dgucolledge.ru/">Новости</a></li>
                    <li><a href="{% url 'users:schedules' %}">Расписание</a></li>
                    <li><a href="{% url 'users:blog' %}">Блог</a></li>
                    {% if user.is_authenticated %}
                        <li><a style="color: #fff;" href="{% url 'users:profile' user.id%}">Профиль</a></li>
                    {% else %}
                        <li><a style="color: #fff;" href="{% url 'users:login' %}">Вход</a></li>
                    {% endif %}
                    <li class="right_path_logos" id="right_path_logos">
                        <a href="https://t.me/colledgedsu"><img src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                        <a href="https://vk.com/mediaclubcollegedgu"><img src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
                    </li>
                </ul>
            </div>
            <div class="slider" id="slider">
                <button style="padding: 0; margin-top: 10%; background: transparent; border: 0" class="slider-button prev-button"><img src="{% static 'src/images/arrow.png' %}"></button>
                <div class="slider_content">
                    <div class="slide slide-left">
                        <img src="{% static 'src/images/college-2.webp' %}" alt="Левая картинка">
                    </div>
                    <div class="slide slide-center">
                        <img src="{% static 'src/images/college.webp' %}" alt="Центральная картинка">
                    </div>
                    <div class="slide slide-right">
                        <img src="{% static 'src/images/college-3.jpg' %}" alt="Правая картинка">
                    </div>
                </div>
                <button style="padding: 0; margin-top: 10%; background: transparent; border: 0" class="slider-button next-button"><img src="{% static 'src/images/arrow.png' %}"></button>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="main_content">
            <div class="main_about_college">
                <div class="top_info">
                    <h1>О колледже</h1>
                </div>
                <ul class="bottom_info" id="bottom_info">
                    <li class="bottom_info_left">
                        <div class="bottom_info_line"></div>
                        <p>
                            Дагестанский государственный университет<br>является одним из крупнейших вузов России,<br>
                            который был создан в 1931 году.
                        </p>
                    </li>
                    <li class="bottom_info_right">
                        <p>
                            Колледж ДГУ создан в 2013 году.<br>
                            Это структурное подразделение Дагестанского<br>
                            госудраственого университета, обеспечивающее высокое качество подготовки<br>
                            специалистов среднего звена для удовлетворения потребностей общества в области<br>
                            права, охраны окружающей среды и природоиспользования, действующее на основании<br>
                            лицензии университета на право ведения образовательной деятельности.
                        </p>
                    </li>
                </ul>
            </div>
            <!-- <div class="main_news" id="main_news">
                <h1 class="main_news_title">Что нового?</h1>
                <ul class="main_all_news" id="main_all_news">
                    {% for new in news %}
                        <li class="main_news_item item1">
                            <img src="{{ new.image.url }}" alt="">
                            <div class="news_date">{{ new.created_at|date:"d.m.Y" }}</div>
                            <p class="news_desc"><a href="{{ new.get_absolute_url }}">{{ new.title }}</a></p>
                        </li>
                    {% endfor %}
                </ul>
                <button><a href="/news">Больше новостей</a></button>
            </div> -->
    </main>
    <footer class="footer">
        <div class="footer_content">
            <div class="footer_contacts">
                <h1 class="footer_contacts_title">Контакты</h1>
                <div class="footer_location">
                    <img src="{% static 'src/images/location.svg' %}" alt="метка">
                    <p>367000, Россия, Республика Дагестан, г. Махачкала,<br>ул. Дзержинского, 21</p>
                </div>
                <div class="footer_feedback">
                    <h2 style="color: #fff">8 (722) 67-42-65</h2>
                    <a href="mailto:collegedsu@mail.ru">collegedsu@mail.ru</a>
                </div>
                <div class="footer_messenger">
                    <a class="footer_telegram" href="https://t.me/colledgedsu"><img id="footer_telegram" src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                    <a class="footer_vk" href="https://vk.com/mediaclubcollegedgu"><img id="footer_vk" src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
                </div>
            </div>
            <div class="footer_line" id="footer_line"></div>
            <div class="footer_info">
                <div class="footer_info_cont1">
                    <div class="cont1_top_block">
                        <ul class="cont1_students">
                            <h1 class="cont1_title">Студентам</h1>
                            <li class="cont1_students_item"><a href="{% url 'users:schedules' %}">Расписание занятий</a></li>
                            <li class="cont1_students_item"><a href="https://login.dnevnik.ru/login">Электронный журнал</a></li>
                            <li class="cont1_students_item">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'users:profile' user.id%}">
                                        Профиль
                                    </a>
                                {% else %}
                                    <a href="{% url 'users:login' %}">
                                        Профиль
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                        <ul class="cont1_applicants">
                            <h1 class="cont1_title">Абитуриентам</h1>
                            <li class="cont1_students_item"><a href="https://dgu.ru/Abitur/?id=15252">Прием 2023</a></li>
                        </ul>
                    </div>
                    <div class="cont1_bottom_block">
                        <ul class="cont1_education">
                            <h1 class="cont1_title">Образование</h1>
                            <li class="cont1_students_item"><a href="">Сессия</a></li>
                            <li class="cont1_students_item"><a href="">Полезные ссылки</a></li>
                            <li class="cont1_students_item"><a href="">Полезные ссылки</a></li>
                            <li class="cont1_students_item"><a href="">Полезные ссылки</a></li>
                            <li class="cont1_students_item"><a href="">Полезные ссылки</a></li>
                        </ul>
                        <iframe class="main_map" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1459.488594269916!2d47.49721647124244!3d42.97875416425313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDU4JzQzLjUiTiA0N8KwMjknNTIuNyJF!5e0!3m2!1sru!2sru!4v1694902873032!5m2!1sru!2sru" width="700px" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="module" src="{% static 'src/scripts/index.js' %}"></script>
</body>
</html>