{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Расписания</title>

    <link rel="stylesheet" href="{% static 'src/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/reset.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'src/images/favicon.ico' %}">

</head>
<body>
    <header class="teacher_profile_header">
        <div class="header_navbar" id="header_navbar">
            <div class="nav_left_path">
                <h1><a style="color: #fff;" href="/">Колледж ДГУ</a></h1>
                <div class="header_burger" id="header_burger"></div>
            </div>
            <ul style="width: 55%;" class="nav_right_path" id="nav_right_path">
                <li><a href="/">Главная</a></li>
                {% if user.is_teacher %}
                    <li><a href="{% url 'users:teacher_profile' user.id %}">Для преподавателя</a></li>
                {% endif %}
                <li><a href="/news">Новости</a></li>
                <li><a href="{% url 'users:schedules' %}">Расписание</a></li>
                {% if user.is_authenticated %}
                    {% if not user.is_teacher %}
                        <li><a href="https://bitrix.dgu.ru/eios/Svedeniya-ob-EIOS-bibl.pdf">Библ. ресурсы</a></li>
                        <li><a href="{% url 'users:blog' %}">Преподаватели</a></li>
                    {% endif %}
                    <li><a style="color: #fff;" href="{% url 'users:profile' user.id%}">Профиль</a></li>
                {% else %}
                    <li><a style="color: #fff;" href="{% url 'users:login' %}">Вход</a></li>
                {% endif %}
                <li class="right_path_logos" id="right_path_logos">
                    <a href="https://t.me/colledgedsu"><img src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                    <a href="https://vk.com/mediaclubcollegedgu"><img src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <div class="schedule_content" id="schedule_content">
            <h1 class="schedule_title">Расписание занятий</h1>
            <a href="https://raspisanie.dgu.ru/">Сервис расписаний</a>
        </div>
        {% if all_schedules %}
            <ul class="schedule_container" id="schedule_container">
                {% for schedule in all_schedules %}
                    <li>
                        <h1>{{ schedule.facult }}</h1>
                        <h2>{{ schedule.date }}</h2>
                        <a href="{{schedule.schedule.url}}"><button>Посмотреть</button></a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="not_schedule_title">Нет доступных расписаний</p>
        {% endif %}
    </main>

    <script type="module" src="{% static 'src/scripts/index.js' %}"></script>
</body>
</html>