{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Страница преподавателя</title>

    <link rel="stylesheet" href="{% static 'src/css/app.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'src/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'src/css/reset.css' %}">
</head>
<body>
<header class="teacher_profile_header">
    <div class="header_navbar" id="header_navbar">
        <div class="nav_left_path">
            <h1><a style="color: #fff;" href="/">Колледж ДГУ</a></h1>
            <div class="header_burger" id="header_burger"></div>
        </div>
        <ul style="width: 55%;" class="nav_right_path" id="nav_right_path">
            <li><a href="/">Главная</a></li>
            {% if user.is_teacher %}
                <li><a href="{% url 'users:teacher_profile' user.id %}">Для преподавателя</a></li>
            {% endif %}
                <li><a href="/news">Новости</a></li>
            {% if user.is_teacher %}
                <li><a href="{% url 'users:schedules' %}">Расписание</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                {% if not user.is_teacher %}
                    <li><a href="https://bitrix.dgu.ru/eios/Svedeniya-ob-EIOS-bibl.pdf">Библ. ресурсы</a></li>
                    <li><a href="{% url 'users:blog' %}">Преподаватели</a></li>
                {% endif %}
                    <li><a style="color: #fff;" href="{% url 'users:profile' user.id%}">Профиль</a></li>
                {% else %}
                <li><a style="color: #fff;" href="{% url 'users:login' %}">Вход</a></li>
            {% endif %}
            <li class="right_path_logos" id="right_path_logos">
                <a href="https://t.me/colledgedsu"><img src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                <a href="https://vk.com/mediaclubcollegedgu"><img src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
            </li>
        </ul>
    </div>
</header>

{% if user.is_teacher %}
<main>
    <div style="width: 80%;" class="teacher_container" id="teacher_container">
        <div class="teacher_profile">
            <label class="input-file">
                <img src="{% if teacher.image %} {{ teacher.image.url }} {% else %} {% static 'src\images\default_avatar.jpg' %} {% endif %}">
            </label>
            <div class="teacher_name">
                <h1>{{ teacher.first_name }}</h1>
                <h2>{{ teacher.last_name }}</h2>
            </div>
        </div>
        <div class="teacher_lectures">
            <h1>Учебные материалы</h1>
            <div class="teacher_line"></div>
            {% if lectures %}
                {% for lecture in lectures %}
                    <ul style="grid-template-columns: repeat(1, 1fr);" class="all_lectures">
                        <p class="obama">
                            <strong>Направление:</strong> {{ lecture.facult }} {{ lecture.course }}
                            {% if lecture.group %} {{ lecture.group }} {% endif %}
                        </p>
                        <li style="max-height: 200px; overflow: hidden;" class="lecture">
                            <button><a href="{% url 'users:delete_lecture' lecture.pk %}">&#10006;</a></button>
                            <h1 style="line-height: 0.9;">{{ lecture.title }}</h1>
                            <p>
                                <button id="podrobnee">
                                    <b style="margin-top: 10px; border: 5; border-color: transparent;">
                                        <a style="color: #fff" href="{% url 'users:lecture_detail' lecture.pk %}">Подробнее</a></b>
                                </button>
                            </p>
                        </li>
                        <form action="{% url 'users:add_review' pk=lecture.id %}" autocomplete="off" method="post">
                            {% csrf_token %}
                            <section class="lectures_comments">
                                <button class="show_comment" id="show_comment_{{ lecture.id }}">Показать комментарии ({{ lecture.get_review|length }})
                                </button>
                                <div class="comments_container" id="comments_container">
                                    <div class="show_all_comments" id="show_all_comments">
                                        {% for review in lecture.get_review %}
                                            <div class="comment">
                                                <img class="user_ava"
                                                     src="{% if review.name.image %}{{ review.name.image.url }}{% else %} {% static 'src\images\default_avatar.jpg' %} {% endif %}">
                                                <div class="user_data">
                                                    <div class="left_side">
                                                        <h1 class="user_name" id="user_name_{{ review.name.id }}">
                                                            {{ review.name.first_name }} {{ review.name.last_name }}
                                                        </h1>
                                                        <p class="user_comment">{{ review.text }}</p>
                                                        <h2 class="answer_comment">Ответить</h2>
                                                    </div>
                                                    <div class="right_side">
                                                        {% if review.name == user %}
                                                            <a href="{% url 'users:delete_review' review.pk %}"><b>&#10006;</b></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="publish_comment">
                                        <img class="my_ava"
                                             src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'src\images\default_avatar.jpg' %} {% endif %}">
                                        <div class="my_data">
                                            <div class="my_name_cont">
                                                <h1 class="my_name">{{ user.first_name }} {{ user.last_name }}</h1>
                                                {{ form.text }}
                                            </div>
                                            <button style="border: 0; background-color: #fff" type="submit"
                                                    class="publish_btn"></button>
                                        </div>
                                    </div>
                            </section>
                        </form>
                    </ul>
                {% endfor %}
            {% else %}
                <h2>Учебных материалов нет</h2>
            {% endif %}
            <div class="add_lecture_cont">
                <button class="add_lecture">
                    <a style="margin-bottom: 40px;" href="{% url 'users:add_lecture' %}">Добавить материал</a>
                </button>
            </div>
        </div>
    </div>
</main>
{% else %}
    <h1>Ты не преподаватель!</h1>
{% endif %}

<script type="module" src="{% static 'src/scripts/index.js' %}"></script>
<script type="module" src="{% static 'src/scripts/drop_comment.js' %}"></script>
</body>
</html>