{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Страница преподавателя</title>

    <link rel="stylesheet" href="{% static 'src/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/reset.css' %}">
</head>
<body>
    <header class="teacher_profile_header">
            <div class="header_navbar" id="header_navbar">
                <div class="nav_left_path">
                    <h1><a style="color: #fff;" href="/">Колледж ДГУ</a></h1>
                    <div class="header_burger" id="header_burger"></div>
                </div>
                <ul style="width: 55%;" class="nav_right_path" id="nav_right_path">
                    <li><a href="/">Главная</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'users:teacher_profile' user.id %}">Для преподавателя</a></li>
                    {% endif %}
                    <li><a href="/news">Новости</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'users:schedules' %}">Расписание</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if not user.is_teacher %}
                            <li><a href="{% url 'users:blog' %}">Преподаватели</a></li>
                        {% endif %}
                        <li><a style="color: #fff;" href="{% url 'users:profile' user.id%}">Профиль</a></li>
                    {% else %}
                        <li><a style="color: #fff;" href="{% url 'users:login' %}">Вход</a></li>
                    {% endif %}
                    <li class="right_path_logos" id="right_path_logos">
                        <a href="https://t.me/colledgedsu"><img src="{% static 'src/images/telegram.svg' %}" alt="телеграм"></a>
                        <a href="https://vk.com/mediaclubcollegedgu"><img src="{% static 'src/images/vk.svg' %}" alt="вк"></a>
                    </li>
                </ul>
            </div>
    </header>

    {% if user.is_teacher %}
        <main>
            <div style="width: 80%;" class="teacher_container" id="teacher_container">
                <div class="teacher_profile">
                    <label class="input-file">
                        <img src="{% if teacher.image %} {{ teacher.image.url }} {% else %} {% static 'src\images\default_avatar.jpg' %} {% endif %}">
                    </label>
                    <div class="teacher_name">
                        <h1>{{ teacher.first_name }}</h1>
                        <h2>{{ teacher.last_name }}</h2>
                    </div>
                </div>
                <div class="teacher_lectures">
                    <h1>Учебные материалы</h1>
                    <div class="teacher_line"></div>
                    {% if lectures %}
                        {% for lecture in lectures %}
                            <ul style="grid-template-columns: repeat(1, 1fr);" class="all_lectures">
                                <p class="obama">
                                    <strong>Направление:</strong> {{ lecture.facult }} {{ lecture.course }}
                                    {% if lecture.group %} {{ lecture.group }} {% endif %}
                                </p>
                                <li style="max-height: 200px; overflow: hidden;" class="lecture">
                                    <button><a href="{% url 'users:delete_lecture' lecture.pk %}">&#10006;</a></button>
                                    <h1 style="line-height: 0.9;">{{ lecture.title }}</h1>
                                    <p><button style="background: #0E0E0E; border: 5; border-color: transparent;">
                                        <b style="margin-top: 10px; background: #0E0E0E; border: 5; border-color: transparent;"><a style="color: #fff" href="{% url 'users:lecture_detail' lecture.pk %}">Подробнее</a></b>
                                    </button></p>
                                </li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <h2>Учебных материалов нет</h2>
                    {% endif %}
                    <button class="add_lecture">
                        <a href="{% url 'users:add_lecture' %}">Добавить материал</a>
                    </button>
                </div>
            </div>
        </main>
    {% else %}
        <h1>Ты не преподаватель!</h1>
    {% endif %}
    
    <script type="module" src="{% static 'src/utils/teacher-ava.js' %}"></script>
    <script type="module" src="{% static 'src/scripts/index.js' %}"></script>
</body>
</html>