{% extends 'users/base_for_profile.html' %}
{% load link_filter %}
{% load static %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4 class="mt-3 mb-3">Профиль</h4>
                <div class="col-lg-12 text-center">
                    <img width="100" height="100"
                         src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'src\images\default_avatar.jpg' %} {% endif %}"
                         class="img-thumbnail">
                </div>
                <form action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="userAvatar" name="image" size="50">
                                <label class="custom-file-label" for="{{ form.image.id_for_label }}">Выберите
                                    изображение</label>
                            </div>
                        </div>
                        {% for rpd in all_rpd %}
                            <a style="margin: 10px;" href="{{ rpd.rpd.url }}">РПД</a>
                        {% endfor %}
                        {% if user.is_teacher %}
                            <a style="margin: 10px;" href="/media/20220810-г4.pdf">ФОС</a>
                        {% endif %}
                        {% for schedule in schedules %}
                            <a style="margin: 10px;" href="{{ schedule.schedule.url }}">Расписание</a>
                        {% endfor %}
                        <a style="margin: 10px;" href="https://urait.ru/">Юрайт</a>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 10px; margin-bottom: 20px;">
                            <a href="{% url 'users:logout' %}" class="btn btn-info btn-block" >Выйти</a>
                        </div>
                    </div>
                </form>
                <form action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if user.is_teacher %}
                        {{ form.link_form.facult.label_tag }} {{ form.link_form.facult }}
                        {{ form.link_form.course.label_tag }} {{ form.link_form.course }}
                        {{ form.link_form.group.label_tag }} {{ form.link_form.group }}
                        {{ form.link_form.link.label_tag }} {{ form.link_form.link }}
                        <div class="form-row">
                            <div class="col-lg-12" style="margin-top: 33px;">
                                <input style="margin-bottom: 40px;" class="btn btn-info btn-block" type="submit" value="Отправить">
                            </div>
                        </div>
                    {% endif %}
                </form>
                <div style="margin-bottom: 50px;">
                    {% if not user.is_teacher %}
                        {% for link in links %}
                            {% if link.link %}
                                {% if link.link|is_link %}
                                    <h4 class="mt-3 mb-3">{{ link.teacher }}</h4> <a href="{{ link.link }}">Ссылка на источник</a>
                                {% else %}
                                    <h4 class="mt-3 mb-3">{{ link.teacher }}</h4> <div
                        style="max-width: 100%; word-wrap: break-word;">{{ link.link }}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}